@model VideoViewModel

<section class="panel panel-primary">
    <div class="panel-heading">@Model.Title</div>

    <div class="panel-body">
        @Model.Genre
        <div>
            <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</section>