@model IEnumerable<VideoViewModel>

@{
    ViewBag.Title = "Home";
}

<table>
    @foreach (var video in Model)
    {
        <tr>
            <td><a asp-action="Details" asp-route-id="@video.Id">Details</a></td>
            <td>@video.Title</td>
            <td>@video.Genre</td>
        </tr>
    }
</table>

<a asp-action="Create">Create</a>

@section footer{
    <div>This is the Index footer</div>
}
